.page-title {
    display: block !important;
}

.page-title h1 {
    text-align: center;
}

.form-container {
    width: 400px;
    margin: auto    ;
}

.ui.labeled.button:not([class*="left labeled"])>.button:focus {
    background-color: #00b5ad;
}